@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: Poppins;
}
.title{
    font-size: 125px;
    text-decoration: none;
    color: black;
}
.title2{
    font-size: 50px;
    text-decoration: none;
    color: black;
}
.projecttitle{
    font-size: 90px;
}
.sep{
    height: 50px;
}
.img{
    width: 600px;
}
.thing:hover{
    opacity: 70%;
    color: rgb(92, 92, 92);
}
.linktitle{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
.subtitle{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
.link {
    color: black;
    text-decoration: none;
    position: relative;
  }
.link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: #b5e1da;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
  }
.link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
.left{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 45%;
    float: left;
}
.right{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 45%;
    float: left;
}
@media screen and (max-width: 700px) {
    .left, .right{
      width: 100%;
      padding: 0;
    }
}
#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #a796e4;
    color: white;
    border-radius: 40%;
    cursor: pointer;
    padding: 15px;
    font-family: Lexend Deca;
}
::selection{
    color: black;
    background-color: #b5e1da;
}