.menubar{
    font-size: 30px;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
}
.menubar:hover{
    font-size: 30px;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    color: purple;
}    
.title{
    font-size: 100px;
    text-decoration: none;
    color: black;
}
.title:hover{
    font-size: 100px;
    text-decoration: none;
    color: purple;
}
.logo{
    padding: 5px;
    width: 100px;
}
.pic{
    border-radius: 10%;
}
.a{
    color: purple;
}
::selection {
    color: floralwhite;
    background: purple;
  }
