.menubar1{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-right: 5px;
    padding-left: 5px;
}
.menu1{
    text-align: right;
}
.menubar1:hover{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}