.menubar1{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-right: 5px;
    padding-left: 5px;
}
.menu1{
    text-align: right;
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: hidden;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    right: 0;
    background-color: white;
}
.menubar1:hover{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}